@use "../scss/styles.scss";

html {
  margin-top: styles.$navbar-height;
}

.navBar {
  @include styles.shadowBold;
  z-index: 2;
  background-color: styles.$color-background-secondary;

  a {
    background-color: #ffffff00;
    text-decoration: none;
    color: white !important;

    &:hover {
      background-color: rgba(161, 194, 255, 0.082);
    }

    &:active {
      background-color: rgba(161, 194, 255, 0.199);
    }
  }
}

@media print {
  .navBar {
    display: none;
  }
}

// $navbar-dark-color: rgba($white, 0.55);
// $navbar-dark-hover-color: rgba($white, 0.75);
// $navbar-dark-active-color: $white;
// $navbar-dark-disabled-color: rgba($white, 0.25);
// $navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
// $navbar-dark-toggler-border-color: rgba($white, 0.1);
// $navbar-dark-brand-color: $navbar-dark-active-color;
// $navbar-dark-brand-hover-color: $navbar-dark-active-color;
