@import "variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

$utilities: map-merge(
  $utilities,
  (
    "shadow":
      map-merge(
        map-get($utilities, "shadow"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "shadow"), "values"),
              (
                bold-sm: 0 0 0.3em 0.1rem black,
                bold: 0 0 0.45em 0.15rem black,
                bold-lg: 0 0 0.6em 0.2rem black,
              )
            ),
        )
      ),
  )
);

@mixin create-overflow($var, $value) {
  .overflow-#{$var}-#{$value} {
    overflow-#{$var}: #{$value};
  }
}

@mixin create-overflows() {
  $vars: auto hidden visible scroll;
  @each $i in $vars {
    @include create-overflow(x, $i);
    @include create-overflow(y, $i);
  }
}

@mixin create-font-sizes {
  @for $i from 1 through 9 {
    .fs-0#{$i}em {
      font-size: #{"0.#{$i}em"};
    }
  }
}

@mixin create-spacing($s, $v, $side, $val) {
  .m#{$s}-#{$v}s {
    margin#{$side}: ($spacer * $val) !important;
  }
  .p#{$s}-#{$v}s {
    padding#{$side}: ($spacer * $val) !important;
  }
}

@mixin create-spacings($v, $val) {
  @include create-spacing("t", $v, "-top", $val);
  @include create-spacing("b", $v, "-bottom", $val);
  @include create-spacing("s", $v, "-left", $val);
  @include create-spacing("e", $v, "-right", $val);
  @include create-spacing("x", $v, "-left", $val);
  @include create-spacing("x", $v, "-right", $val);
  @include create-spacing("y", $v, "-top", $val);
  @include create-spacing("y", $v, "-bottom", $val);
  @include create-spacing("", $v, "", $val);
}

@mixin create-all-spacings() {
  // 0 - 10, step 1
  @for $i from 0 through 10 {
    @include create-spacings("0#{$i}", $i / 10);
  }
  // 12 - 30, step 2
  @for $i from 1 through 10 {
    $step: 10 + $i * 2;
    @include create-spacings("#{$step}", $step / 10);
  }
}

// Creates classes like .overflow-x-hidden
@include create-overflows();

// Creates classes like .fs-08em
@include create-font-sizes();

// Creates classes like .m-00s and .px-22s
@include create-all-spacings();

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../extensions/bootstrap-extension-5.3.0/css/bootstrap-extension.min";
@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";
