@forward "base";
@use "base";

html,
body,
#root {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #ff5085;
}

.link {
  background-color: transparent;
  &:hover {
    background-color: rgba(base.$color-foreground, 0.082);
  }

  &:active {
    background-color: rgba(base.$color-foreground, 0.2);
  }
}

// Dropdown style

.dropdown-toggle {
  @extend .rounded-0, .border-0;
}

.dropdown,
.dropdown-menu {
  @extend .p-0, .rounded-0, .border-0, .shadow;
}

.dropdown-menu,
.dropdown:not(.nav-item) {
  background-color: base.$color-background-tertiary;
}

.dropdown .dropdown-toggle {
  &:focus,
  &:focus-visible,
  &.show {
    background-color: rgba(base.$color-foreground, 0.2) !important;
  }
}

.dropdown-toggle,
.dropdown-item {
  @extend .link, .p-08s, .text-light;
  @extend .fs-09em;

  &.active,
  &:active {
    background-color: rgba(base.$color-foreground, 0.2) !important;
  }
}

// Navbar style
.navbar {
  @extend .px-3, .shadow-bold;
  background-color: base.$color-background-secondary;

  .navbar-brand {
    @extend .text-light;
  }

  .nav-link {
    @extend .link, .p-08s, .text-light;

    &[aria-current="page"] {
      @extend .fw-bold;
    }
  }

  // Collapsed navbar style

  .navbar-toggler {
    @extend .border-0, .shadow-none, .link;
  }

  .navbar-collapse {
    &.collapsing,
    &.show {
      .dropdown-menu {
        @extend .shadow-none;
      }
    }
  }
}

a {
  color: #8ad0f1;

  &:link {
    color: #458c9e;
  }

  &:hover {
    color: #8ad0f1;
  }

  &:visited {
    color: #b4ad44;

    &:hover {
      color: #f3ed9a;
    }
  }

  &:active {
    color: unset;
  }
}

@media print {
  body * {
    visibility: hidden;
  }

  #printarea,
  #printarea * {
    visibility: visible;
  }

  #printarea {
    position: absolute;
    left: 0;
    top: 0;
  }

  .nobreak-print {
    break-inside: avoid;
  }

  .break-print {
    break-inside: auto;
  }
}
