.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: calc(100vh - 1.5rem - 15px - 12px);
}

.header .icon {
  font-size: 2em;
  margin-top: auto;
  padding: 10px;
  border-radius: 20px;
  filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
  transition: padding 0.08s;
  transition: filter 0.08s;
}

.header .icon:active {
  padding-bottom: 9px;
  padding-left: 12px;
  filter: drop-shadow(0 0 0 black);
}

#projects-scroll-parent {
  width: 0;
  height: 0;
  position: relative;
}

#projects-scroll {
  bottom: calc(1.5rem + 15px + 12px);
  position: absolute;
}
