@import url("fonts.css");

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 210mm;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  margin: 0;
  padding: 1em 2em;
}

.title-info {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  justify-self: flex-start;
  margin-right: 3em;
}

#name {
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-family: "Merriweather", serif;
  font-weight: 700;
}

.title-info > * {
  padding: 0.6em 0.2em;
}

.personal-info {
  flex-shrink: 1;
  justify-self: flex-end;
}

.fit-parent {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

#content {
  padding: 1em 2em;
  display: flex;
}

#content-left {
  margin-right: 3em;
  flex: 2 1;
}

#content-right {
  flex: 1 2;
}

.section {
  padding-bottom: 1em;
}

.section > .title {
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding: 1em 0;
}

.section .content {
  color: #666666;
  font-weight: 400;
  font-family: "Merriweather", serif;
  text-align: justify;
}

.section .content .title {
  font-size: 1.1em;
  color: black;
  padding: 0.5em 0;
  margin: 0;
}

.section .content .date {
  font-size: 0.9em;
  padding-bottom: 0.6em;
  margin: 0;
}

.section .content p {
  padding: 0;
  margin: 0;
  padding-bottom: 1em;
}

@media print {
  .nobreak {
    break-inside: avoid;
  }
}
