html {
  background-color: rgb(68, 114, 206);
  color: white;
}

body {
  margin: 0;
}

a {
  color: rgb(138, 208, 241);
}

a:link {
  color: rgb(69, 140, 158);
}

a:hover {
  color: rgb(138, 208, 241);
}

a:visited {
  color: rgb(180, 173, 68);
}

a:visited:hover {
  color: rgb(243, 237, 154);
}

a:active {
  color: unset;
}

.center {
  text-align: center;
}

h1.title {
  font-size: 3em;
}

.content {
  box-sizing: border-box;
  padding: 30px;
  background-color: rgb(31, 31, 102);
  font-size: 1.4em;
  width: 60%;
  box-shadow: 0.6rem 0.6rem 1em black;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content-wrapper .item {
  box-sizing: border-box;
  padding: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper .item:nth-child(odd) {
  flex-direction: row-reverse;
}

.content-wrapper .item .content {
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  font-size: 1.4em;
  width: 40%;
  margin: auto;
}

.content-wrapper .item .content p {
  margin: 0;
  margin-bottom: 0.5em;
}

.content-wrapper .item .content .title {
  padding: 0 0 20px 0;
  box-sizing: border-box;
  font-size: 1.6em;
}

.content-wrapper .item .preview {
  position: relative;
  width: 40%;
}

.content-wrapper .item > * {
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.content-wrapper .item .content.view {
  animation-name: fade-in;
}

.content-wrapper .item .preview.view {
  animation-name: fade-in-2;
}

.content-wrapper .item:nth-child(odd) .content.view {
  animation-name: fade-in-2;
}

.content-wrapper .item:nth-child(odd) .preview.view {
  animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
    background-color: rgb(68, 114, 206);
    box-shadow: 0 0 0 black;
    left: -50vw;
  }
  40% {
    opacity: 100%;
    background-color: rgb(68, 114, 206);
    box-shadow: 0 0 0 black;
    left: 0vw;
  }
  100% {
    background-color: rgb(31, 31, 102);
    box-shadow: 0.6rem 0.6rem 1em black;
  }
}

@keyframes fade-in-2 {
  0% {
    opacity: 0%;
    background-color: rgb(68, 114, 206);
    box-shadow: 0 0 0 black;
    left: -7vw;
  }
  40% {
    opacity: 100%;
    background-color: rgb(68, 114, 206);
    box-shadow: 0 0 0 black;
    left: 0vw;
  }
  100% {
    background-color: rgb(31, 31, 102);
    box-shadow: 0.6rem 0.6rem 1em black;
  }
}
